@import 'variables', 'utils';

header{
    background-image: url(/images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem 0;

    h1{
        font-size: 1.3rem;
        color: $text-cta-bg;
        line-height: 2;
    }

    p{
        font-size: $body-fontsize;
        color: $text;
        text-align: center;
        line-height: 1.5;
    }
}

main{
    background-color: $bg-white;
    text-align: center;
    width: 85%;
    box-shadow: 0 10px 10px 5px $bg-empty-bar;
    border-radius: 10px;
    .pageviews{
        margin: 1.5rem 1rem;
        input[type="range"]{
            margin: 1rem 0;
            appearance: none;
            width: 100%;
            height: 8px;
            border-radius: 10px;
            background-color: $bg-slider;
        }

        h2{
            margin: 1rem 0;
            span{
                font-size: $body-fontsize;
                color: $text;
            }
        }

        .billing{
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: $text;
            font-size: $body-fontsize;


            .discount{
                position: relative;
                &::after{
                    content: "-25%";
                    position: absolute;
                    font-size: 12px;
                    background-color: $bg-discount;
                    color: $text-discount;
                    border-radius: 10px;
                    padding: .2rem .3rem;
                    margin-left: .3rem;
                }
            }
        }
    }
    .trial{
        border-top: 2px solid $bg-empty-bar;

        p{
            font-size: $body-fontsize;
            color: $text;
            position: relative;
            line-height: 2;
            &::before{
                content:url(/images/icon-check.svg);
                margin-right: 1rem;
            }
        }

        button{
            background-color: $text-cta-bg;
            color: $text-cta;
            font-size: $body-fontsize;
            padding: .5rem 2.5rem;
            margin: 1.5rem 0;
            border-radius: 50px;
        }
    }
}