@import "variables", "utils";

header {
  background-image: url(/assets/images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem 0;
  animation: showUp 0.8s ease-in-out;

  h1 {
    font-size: 1.3rem;
    color: $text-cta-bg;
    line-height: 2;
  }

  p {
    font-size: $body-fontsize;
    color: $text;
    text-align: center;
    line-height: 1.5;
  }
}

main {
  background-color: $bg-white;
  text-align: center;
  width: 85%;
  max-width: 500px;
  box-shadow: 0 10px 10px 5px $bg-empty-bar;
  border-radius: 10px;
  animation: swipeIn 0.6s ease-in;
  .pageviews {
    margin: 2rem 1rem;

    & > p {
      color: $text;
      letter-spacing: 2px;
      font-size: 10px;
      font-weight: $font-extra;
    }
    input[type="range"] {
      margin: 2rem 0;
      appearance: none;
      width: 100%;
      height: 10px;
      border-radius: 10px;
      outline: none;
      background: linear-gradient(to right, $primary-color-slider-bar 50%, $bg-empty-bar 50%);

      &::-webkit-slider-thumb {
        @include thumb-styling;
      }
      &::-moz-range-thumb{
        @include thumb-styling;
        border: none;
      }
    }

    h2 {
      margin: 0 0 2rem;
      font-size: $body-fontsize;
      color: $text;
      font-weight: $font-normal;
      span {
        font-size: 1.5rem;
        color: #000;
        font-weight: $font-extra;
      }
    }

    .billing {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $text;
      gap: 0.5rem;

      p {
        font-size: 10px;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;

        input {
          opacity: 0;
          width: 0;
          height: 0;

          &:checked + .toggle {
            background-color: $bg-slider;
            &::before {
              transform: translateX(18px);
            }
          }
          &:focus + .toggle {
            box-shadow: 0 0 1px #2196f3;
          }
        }
        .toggle {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $bg-toggle;
          transition: 0.4s;
          border-radius: 50px;

          &:hover {
            background-color: $bg-slider;
          }

          &::before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 4px;
            bottom: 3px;
            background-color: $bg-white;
            transition: 0.4s;
            border-radius: 50%;
          }
        }
      }

      .discount {
        position: relative;
        &::after {
          content: "-25%";
          position: absolute;
          font-size: 10px;
          background-color: $bg-discount;
          color: $text-discount;
          border-radius: 10px;
          padding: 0.1rem 0.4rem;
          margin-left: 0.3rem;
        }
      }
    }
  }
  .trial {
    border-top: 2px solid $bg-empty-bar;
    padding-top: 1rem;

    p {
      font-size: $body-fontsize;
      color: $text;
      position: relative;
      line-height: 2;
      &::before {
        content: url(/assets/images/icon-check.svg);
        margin-right: 1rem;
      }
    }

    button {
      background-color: $text-cta-bg;
      color: $text-cta;
      font-size: $body-fontsize;
      padding: .9rem 3rem;
      margin: 1.5rem 0;
      border-radius: 50px;
      border: none;
      cursor: pointer;

      &:hover {
        color: $bg-white;
      }
    }
  }
}

@media (min-width: 1440px) {
  header {
    margin-bottom: 1rem;
    text-align: center;
    h1 {
      font-size: 1.9rem;
    }
    p {
      display: inline-block;
      font-size: 1rem;
    }
  }

  main {
    width: 38%;
    max-width: 600px;

    .pageviews {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      place-items: center;
      margin-bottom: 0;
      padding-bottom: 1rem;

      & > p {
        grid-row: 1 / 2;
        grid-column: 1/2;
        font-size: 1rem;
      }

      h2 {
        grid-row: 1 / 2;
        grid-column: 2/3;
        font-size: 1.2rem;
        margin: 0;
        position: relative;
        top: -12px;

        span {
          font-size: 2.8rem;
          position: relative;
          top: 12px;
        }
      }
      input[type="range"] {
        grid-column: span 2;
        width: 90%;

        &::-webkit-slider-thumb {
          width: 40px;
          height: 40px;
          background-size: 25px;
        }
      }
      .billing {
        grid-column: span 2;
        gap: 2rem;
        p {
          font-size: 1rem;
        }
        .switch {
          width: 55px;
          height: 25px;
          input{
            &:checked + .toggle::before{
              transform: translateX(28px);
            }
          }
          .toggle{
            &::before{
              width: 18px;
              height: 18px;

            }
          }
        }
        .discount{
          &::after{
            content: "25% discount";
            font-size: 12px;
            top: 2px;
            width: max-content;
          }
        }
      }
    }
    .trial{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      // padding-top: 0;
      padding-bottom: 1.5rem;
      place-items: center;

      p{
        text-align: left;
      }
    }
  }
}
